*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
#input-container{
    display: none;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    
}
body{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 3rem;
    padding: 50px;
    background: linear-gradient(132deg, #F4D03F 0%, #16A085 100%);
}
.title{
    font-family: 'Trebuchet MS';
    color: white;
}
.start-container{
    gap: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 50px;
    background-color: rgb(65, 65, 65);
    border-radius: 35px;
    border-style: none;
}
#start{
    height: 110px;
    font-family:'Trebuchet MS';
    padding: 15px;
    cursor: pointer;
    border-radius: 12px;
    border-style: none;
    font-weight: bold;
    font-size: 45px;
    text-transform: uppercase;
    transition: 0.1s;
}
#start:hover{
    color: #16A085;
    border-color: #16A085;
    border-width: 3px;
    border-style: solid;
}
#trys{
    font-family:'Trebuchet MS';
    font-size: 25px;
}
#hint, #status{
    font-family:'Trebuchet MS';
    font-size: 20px;
}
#input{
    padding: 5px;
    font-size: 20px;
    text-align: center;
    width: 300px;
}
#guess{
    font-family:'Trebuchet MS';
    text-transform: uppercase;
    font-weight: bold;
    font-size: 18px;
    padding: 12px;
    width: 300px;
    cursor: pointer;
    color: white;
    background-color: rgb(65, 65, 65);
    border-style: none;
    transition: 0.2s;
}
#guess:hover{
    background-color:rgb(100, 100, 100);
}